<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="storagePath" value="C:\Meteorologija\Data"/>
		<add key="T_threshold" value="5"/>
		<add key="RH_threshold" value="10"/>
		<add key="DEW_threshold" value="5"/>
	</appSettings>
	<system.serviceModel>
		<services>
			<service name="Meteorologija.Server.WeatherService">
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8090"/>
					</baseAddresses>
				</host>
				<endpoint
				  address="WeatherService"
				  binding="netTcpBinding"
				  contract="Meteorologija.Common.IWeatherService"/>
			</service>
		</services>
	</system.serviceModel>
</configuration>