<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="csvPath" value="C:\Meteorologija\cleaned_weather.csv"/>
	</appSettings>
	<system.serviceModel>
		<client>
			<endpoint
			  name="WeatherService"
			  address="net.tcp://localhost:8090/WeatherService"
			  binding="netTcpBinding"
			  contract="Meteorologija.Common.IWeatherService"/>
		</client>
	</system.serviceModel>
</configuration>